body {
  padding: 20px;
}

.hide {
  display: none !important;
}

i {
  cursor: pointer;
}

h5 {
  margin-bottom: 0.5rem;
}

.categories-form-wrapper {
  border-left: 1px solid;
  padding-left: 20px;
}

.category-chip {
  display: inline-flex;
  margin: 5px;
  padding: 2px;
  border: 1px solid #bbb;
  border-radius: 5px;
}

.category-chip-contents {
  display: inline-flex;
}

.category-chip p {
  margin-bottom: 0px;
  padding: 2px;
}

.category-chip i {
  margin: 2px;
}

.category-edit-form {
  margin: 0px;
  display: inline-flex;
  align-items: center;
}

.category-edit-form input {
  margin: 0px;
}

.todo {
  margin: 15px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

.todo-title-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.todo-edit-buttons-wrapper {
  display: flex;
}

.todo-edit-button, .todo-delete-button {
  padding: 2px;
  margin: 5px;
  border: none;
}

.edit-todo-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.edit-todo-form .edit-todo-actions-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.edit-todo-actions-wrapper button {
  margin-bottom: 0px;
}

.edit-category-form {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0px;
}

.edit-category-form input {
  margin-bottom: 0px;
}

.category-edit-button {
  margin: 5px;
}